{% extends 'home.html'%}
{% block content%}
<div class="container mt-5">
    <h2 class="text-center alert alert-danger ">Update Book Info </h2>
<form action="{% url 'book_update'  X.id  %}" method="POST">
    {% csrf_token %}
<div class="form-group row">  
    <label class="col-sm-2 col-form-label">Book Name:</label>
    <input type="text" name="name" value="{{X.name}}">  
    <div class="col-sm-4">  
    </div>
</div>
<div class="form-group row">  
    <label class="col-sm-2 col-form-label">Author Name:</label>
    <input type="text" name="author" value="{{ X.author}}">  
    <div class="col-sm-4">  
    </div>
</div>
<div class="form-group row">  
    <label class="col-sm-2 col-form-label">Publish Date:</label> 
    <input type="date" name="publish" value="{{X.publish}}"> 
    <div class="col-sm-4">  
    </div>
</div>
<div class="form-group row">  
    <label class="col-sm-2 col-form-label">Available Stock :</label> 
    <input type="text" name="stock" value="{{X.stock}}"> 
    <div class="col-sm-4">  
    </div>
</div>

<div class="form-group row">  
    <label class="col-sm-2 col-form-label">Category:</label> 
    <select name="category" id="category" class="form-control" value="{{X.category}}">
        <option selected>Education</option>
        <option>Entertainment</option>
        <option>Biography</option>
        <option>History</option>
        <option>Novel</option>
        <option>Fantasy</option>
        <option>Thriller</option>
    </select>
    <div class="col-sm-4">  
    </div>
</div>

<div class="form-group row">  
    <label class="col-sm-2 col-form-label">Language:</label> 
    <select name="language" id="language" class="form-control" value="{{X.language}}">
        <option selected >English</option>
        <option >Hindi </option>
        <option >Marathi</option>
        <option >Tamil</option>
    </select>
    <div class="col-sm-4">  
    </div>
</div>
<div class="form-group row ">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="container text-center my-3">  
    <button type="submit" class="btn btn-primary">Submit</button>  
    </div>  
</div>
</form>



{% endblock content%}